logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea

# File types
*.pyc
*.swo
*.swp
*.swn
*.log
*.mo
*.sql

# Configuration files
/app/local_settings.py
.idea
.tags
.tags_sorted_by_file

# Folders
