<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Titulo</title>

          <!-- smoosh -->
          <link rel="stylesheet" href="static/css/main.css">
          <!-- endsmoosh -->
          <!-- smoosh -->
          <link rel="stylesheet" href="static/css/bootstrap.min.css">
          <!-- endsmoosh -->
          <!-- smoosh -->
          <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
          <!-- endsmoosh -->
          
        
    <div style="width: 100%; height: 100%; background-color: gray">
        <a href="{% url 'cms:team_list' %}">Go to pictures</a>
        <br>
        <a href="{% url 'user:authentication' %}">Login</a>
        <br>
        <a href="{% url 'user:user_list' %}">Home</a>
    </div>
    </head>
    <body class="test">
        {% block login_content %} {% endblock %}

        

    <!-- smoosh -->
    <script src="static/js/bundle.js"></script>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <!-- endsmoosh -->
    </body>
    <footer>
    </footer>
</html>
