{% extends 'index.html' %}
{% block title %}
Users
{% endblock title %}
{% block login_content %}      
<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover">                
                <h5>USUARIOS</h5>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>State</th>
                        <th>Autenticate</th>
                    </tr>
                </thead>
                {% for data in object_list %}
                <tbody>
                    <tr>
                        <td>{{ data.first_name }}
                            {{ data.username }}
                        </td>
                        <td>{{ data.email }}</td>
                        <td>{{ data.is_active }}</td>
                        <td>{{ data.is_authenticated }}</td>
                    </tr>
                </tbody>
                {% endfor %}                  
            </table>
        </div>
    </div>      
</div>        
{% endblock %}
