.header-home-open
	display none
	z-index 1
	background-color black
	transform translate(0, -100px)	
.logo		
	padding-top 30px
		
.logo-image:hover
	opacity 0.9
	cursor pointer	
nav		
	margin 0 auto
										
	& ul
		list-style-type none
		padding-top 40px
					
		& li				
			display inline
			text-decoration none
											
			& .item
				font-size 20px
				color #1012B4
				padding 0 20px
				text-decoration none					
					
				&:hover
					color black

.button-main-home
	position absolute
	z-index 2
	opacity 0.5
	margin-top 2%
	background-color black
	border-radius 4px solid
	padding 4px
	color white
	
	&:hover
		opacity 0.8