@import 'normalize.css'
@import 'reset.styl'
@import 'main-template'
@import 'login'
@import 'home.styl'

/* Small devices (tablets, to 768px) */
@media (min-width: 768px)
	.logo-image
		width 50px
		height 50px

/* Small devices (tablets, 768px and up) */
@media (max-width: 992px)
	.nav
		display none
	
	.logo-image
		width 50px
		height 50px
	
	.button-menu
		padding 30px
		display inline
	
		&-img
			width 30px
			height 30px
			
			&:hover
				cursor pointer
				opacity 0.9
	
	.button-list-hidden
		display none
				
	.button-list
		display inline
		transition 0.9s ease
		overflow hidden		
						
		& .ul-list
			width 100%
			display inline
			list-style none						
			
			& li
				background-color white
				font-size 16px
				color #4164CB
				padding 20px 20px
				
				& .item
					text-decoration none			
				
				&:hover
					transition 0.4s ease
					background-color black	
	
/* Medium devices (desktops, 992px and up) */
@media (min-width: 1200px)
	.nav
		display inline
		
	.logo-image
		width 70px
		height 70px