<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Titulo</title>
  
  <!-- smoosh -->
  <link rel="stylesheet" href="./app/static/css/main.css">
  <!-- endsmoosh -->
  <!-- smoosh -->
  <link rel="stylesheet" href="./app/static/css/bootstrap.min.css">
  <!-- endsmoosh -->
  <!-- smoosh -->
  <link rel="stylesheet" href="./app/static/css/bootstrap-theme.min.css">
  <!-- endsmoosh -->

 
</head>
<body class="test">


  

	
<!-- smoosh -->
<script src="./app/static/js/bundle.js"></script>
<script src="./app/static/js/jquery.min.js"></script>
<script src="./app/static/js/bootstrap.min.js"></script>
<!-- endsmoosh -->

</body>
</html>