<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Mr. Norrea</title>
</head>
<body>
    <h1>Usuarios:</h1>
    {% for data in object_list %}
    <div class="logo">

    </div>
    <div class="user-info">
        <h3>
            {{ data.first_name }}
        </h3>
        <h3>
            {{ data.last_name }}
        </h3>
        <h3>
            {{ data.get_document_type_display }}
        </h3>
        <h3>
            {{ data.document_number }}
        </h3>
        <h3>
            {{ data.get_genre_display }}
        </h3>
        <br>
    </div>
    {% endfor %}
</body>
<a href="{% url 'cms:team_list' %}">Go to pictures</a>
</html>
