{% extends 'index.html' %}
{% block login_content %}
    <body>
        <h1>Usuarios:</h1>
    {% for data in object_list %}
        <div class="logo">

        </div>
        <div class="user-info">
            <h3>
        {{ data.first_name }}
        {{ data.username }}
            </h3>
            <h3>
        {{ data.last_name }}
            </h3>
            <h3>
        {{ data.email }}
            </h3>
            <h3>
        {{ data.is_active }}
            </h3>
            <h3>
        <p>el fucking user
            {{ data.is_authenticated }}
        </p>
            </h3>
            <br>
        </div>
    {% endfor %}
{% endblock %}